// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: black;
}

.profile-pic {
  border-radius: 50%;
}

.post {
  width: 60%;
  border: 1px solid black;
  border-radius: 1%;
  margin-bottom: 20%;
  padding: 20px;
}

.photo {
  width: 100%;
}
 .title {
   font-size: 20px;
   margin: 10px;
 }
